body {
    padding: 20px;
    background-color: #f8f9fa;
}

.card-body {
    margin-bottom: 20px;
    background-color: #e9ecef;
}

.card-body {
    display: none;
}

#map {
    width: 100%; /* S'assurer que la carte prend toute la largeur */
    height: 400px; /* Hauteur définie pour la carte */
}