body {
    padding: 20px;
    background-color: #f8f9fa;
}

.card-body {
    margin-bottom: 20px;
    background-color: #e9ecef;
}

.card-body {
    display: none;
}

#map {
    height: 400px; /* Hauteur de la carte */
    margin-top: 20px; /* Marge au-dessus de la carte */
}
