# Activer le type MIME pour les modules JS
AddType application/javascript .js

# Activer CORS pour les modules
Header set Access-Control-Allow-Origin "*"
Header set Content-Type "application/javascript" env=IS_JS

# Identifier les fichiers JS
<FilesMatch "\.js$">
    SetEnv IS_JS true
</FilesMatch>

# Permettre l'accès aux fichiers JS
<Files *.js>
    Order Allow,Deny
    Allow from all
</Files>